@(message: String)

<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>

        <link href="@routes.Assets.at("stylesheets/main.css")" type="text/css" rel="stylesheet"/>

        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
        var ls = localStorage;
        if (localStorage.getItem("username") === null)
            var nickname = ls.getItem("nick") != undefined && ls.getItem("nick") != null ? ls.getItem("nick") : prompt("Wybierz nick");
        var color = ls.getItem("color") != undefined && ls.getItem("color") != null ? ls.getItem("color") : "#ff0000";
        $(document).ready(function () {
            $('#forms').submit(function () {
                var value = $('#m').val();
                if (value != "") {
                    var command = value.split(" ");
                    switch (command[0]) {
                        case "help":
                            appendMessage('Aby zmienieć kolor wpisz "color hex", hex to kolor, którego chcesz używać. Obecny kolor to ' + color + "<br/>" + " Aby zmienić nick wpisz nick nowy nick, twój obecny nick to "
                            + nickname);
                            break;
                        case "color":
                            if (command.length > 1) {
                                if (/(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(command[1])) {
                                    color = command[1];
                                    ls.setItem("color", command[1]);
                                    appendMessage("Nowy kolor to " + command[1]);
                                }
                                else {
                                    appendMessage("Podałeś zły kolor");
                                }
                            }
                            else {
                                appendMessage("Nie podałeś koloru");
                            }
                            break;
                        case "nick":
                            if (command.length > 1 && nickname != command[1]) {
                                nickname = command[1];
                                ls.setItem("nick", command[1]);
                            }
                            else {
                                appendMessage("Wpisałeś nowy nick?");
                            }
                            break;
                        case "clear":
                            $("#messages").empty();
                            break;
                        default :
                            emitMessage(value);
                            appendMessage("<a href ='#' style='color:" + color + "'> Ja: </a>" + value);
                            break;
                    }
                }
                $('#m').val('');
                return false;
            });
        });
        function appendMessage(msg) {
            $('#messages').append($('<li>').html(msg));
        }

        function poll() {
            $.ajax({
                url: "poll.php",
                success: function (data) {
                    appendMessage(data);
                },
                complete: poll
                //dataType: "json"
            })
        }

        function emitMessage(data){
            $.ajax({
                url: "sendMessage",
                method: "POST",
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {
                    console.log(data);
                },
                data: JSON.stringify({name: nickname, chatMessage: data, currentTime: new Date().getTime()})
            })
        }

        $(document).ready(function () {
            //poll();
        })

    </script>
    </head>
    <body>
        <form action="" id="forms">
            <label for="m"></label><input id="m" autocomplete="off"/>
            <button>Send</button>
        </form>
        <div class="chatContainer">
            <ul id="messages" ></ul>
        </div>

    </body>
</html>
