<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>

        <link href="@routes.Assets.at("stylesheets/main.css")" type="text/css" rel="stylesheet"/>
        <link href="@routes.Assets.at("stylesheets/jquery.cssemoticons.css")" type="text/css" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/tinyscrollbar.css")" type="text/css" rel="stylesheet" />

        <script src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.cssemoticons.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.tinyscrollbar.min.js")"></script>
        <script>
        var ls = localStorage;
        var nickname = getNicknameFromMemory();
        var currentColor = getColorFromMemery();
        $(document).ready(function () {
            $("#chatContainer").tinyscrollbar();

            $('#forms').submit(function () {
                var value = $('#m').val();
                if (value != "") {
                    var command = value.split(" ");
                    switch (command[0]) {
                        case "/help":
                            appendMessage('Aby zmienieć kolor wpisz "color hex", hex to kolor, którego chcesz używać. Obecny kolor to ' + color + "<br/>" + " Aby zmienić nick wpisz nick nowy nick, twój obecny nick to "
                            + nickname);
                            break;
                        case "/color":
                            if (command.length > 1) {
                                if (/(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(command[1])) {
                                    currentColor = command[1];
                                    ls.setItem("color", command[1]);
                                    appendMessage("Nowy kolor to " + command[1]);
                                }
                                else {
                                    appendMessage("Podałeś zły kolor");
                                }
                            }
                            else {
                                appendMessage("Nie podałeś koloru");
                            }
                            break;
                        case "/nick":
                            if (command.length > 1 && nickname != command[1]) {
                                nickname = command[1];
                                ls.setItem("nick", command[1]);
                            }
                            else {
                                appendMessage("Wpisałeś nowy nick?");
                            }
                            break;
                        case "/clear":
                            $("#messages").empty();
                            break;
                        default :
                            emitMessage(value);
                            break;
                    }
                }
                $('#m').val('');
                return false;
            });
        });
        function appendMessage(msg) {
            $('#messages').append($('<li>').html(msg));
        }
        function parseAndAppendMessage(incomingObject){
            /*appendMessage('<span style="color: '+incomingObject.color+'">'+incomingObject.name+"</span>" +
            " : " +
            incomingObject.chatMessage
            )*/
            $('#messages').append($('<li>')
                .append($("<span>").html(incomingObject.name+":").css("color",incomingObject.color))
                .append($("<p>").html(incomingObject.chatMessage).emoticonize())
                );
        }
        function poll() {
            $.ajax({
                method: "POST",
                url: "poll/"+nickname+"/"+new Date().getTime(),
                success: function (data) {
                    console.log("SUCCESS " + JSON.stringify(data));
                    $.each(data,function(index, element) {
                      parseAndAppendMessage(element)
                    })
                },
                complete: poll,
                dataType: "json"
            })
        }

        function emitMessage(data){
        var toBeSent = {
                    name: nickname,
                    color: currentColor,
                    chatMessage: data,
                    currentTime: new Date().getTime()
                };
            $.ajax({
                url: "sendMessage",
                method: "POST",
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {
                    console.log(data);
                },
                data: JSON.stringify(toBeSent)
            });
            console.log(toBeSent)
        }

        $(document).ready(function () {
            poll();
        });

        function getNicknameFromMemory(){
            if(ls.getItem("nick") != undefined && ls.getItem("nick") != null)
                return ls.getItem("nick");
            else{
                var current = prompt("Wybierz nick");
                ls.setItem("nick", current);
                return current;
            }
        }

        function getColorFromMemery(){
            if(ls.getItem("color") != undefined && ls.getItem("color") != null)
              return ls.getItem("color");
            else {
              ls.setItem("color", "#ff0000");
              return "#ff0000";
            }
        }

    </script>
    </head>
    <body>
        <form action="" id="forms">
            <label for="m"></label><input id="m" autocomplete="off"/>
            <button>Send</button>
        </form>

        <div id="chatContainer">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                <div class="overview">
                    <ul id="messages">

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
